html, body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

a {
  color: lightblue;
}

#auth {
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px
}

#search-results {
  width: 100%;
}

.search-result-row {
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(200, 200, 255, 0.8)
}

.search-result-row div {
  width: 100%;
}

#upload {
  border: 3px solid lightblue;
  color: lightblue;
  padding: 10px;
  box-sizing: border-box;
}

#upload code {
  color: lightgrey;
  font-size: 0.9em;

}

#upload form {
  margin: 10px;
}

#upload form input, #upload form button{
  display: block;
}

#upload form input {
  margin-bottom: 10px;
}

#upload form button {
  border: 1px solid lightblue;
  color: lightblue;
  background-color: black;
  font-family: sans-serif;
  padding: 5px 10px;
  border-radius: 3px;
}

#upload form button:hover {
  border: 1px solid white;
  background-color: white;
  color: black;
  cursor: pointer;
}

#scans-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  align-self: flex-start;
  max-width: 700px;
  max-height: 90vh;
  overflow-y: scroll;
}

#scans-wrapper h3 {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: black;
  padding: 15px;
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.8);
}

#scans a {
  display: block;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  text-decoration: none;
}

#scans a .summary {
  color: lightgrey;
}

#scans a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: lightblue;
}

#scans a.active {
  border: 1px solid lightblue;
  color: lightblue;
}

#scans a.active .link, #scans a.active .summary{
  color: lightblue;
}

#scans a:visited.active .link, #scans a:visited.active .summary{
  color: lightblue;
}

#scans a .link {
  color: lightblue;
}

#scans a:visited .link {
  color: rgb(100, 100, 200);
}

#viewer {
  display: flex;
  justify-content: center;
  align-items: top;
}

#scan-result {
  min-width: 600px;
  max-width: 600px;
  overflow-x: scroll;
}

#menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu a {
  color: lightblue;
  margin: 10px;
  padding: 5px 10px;
}

#menu a.active {
  border: 1px solid lightblue;
}

#about {
  max-width: 600px;
}
